.topbar {
    overflow: hidden;
    background-color: rgb(4, 5, 14);
  }
  
  .topbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .topbar a:hover {
    background-color: #ddd;
    color: rgb(20, 20, 20);
  }
  
  .topbar a.active {
    background-color: #228647;
    color: white;
  }
  .topbar a.right {
    float:right;
  }