<app-top-bar></app-top-bar>
<body>
    <div class="a"> 
      
    
      <div class="b">
        <a routerLink="add" class="button">Add Question</a><br>
      </div>
      <div class="b">
          <a routerLink="del" class="button">Remove Question</a><br>
      </div>
      <div class="b"> 
          <a routerLink="list" class="button">Update Question</a>
      </div>
      <div class="b"> 
        <a routerLink="/admin-search" class="button">Search student</a>
    </div>
     
    </div>
</body>
