<app-top-bar></app-top-bar>

<div class="form">
    <h2>ADMIN LOGIN</h2><br>
  <form #form="ngForm" (ngSubmit)="AdminloginFormSubmit()" >
          <label for="email"> Email* </label>
          <input type="text" [(ngModel)]="admin.email" placeholder="Enter email" name="email" id="email" #email="ngModel" pattern ="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" required/><br>
          <div *ngIf="email.invalid && (email.dirty||email.touched)" style="color: rgb(255, 255, 255);">
            <span id="s1" *ngIf="email.errors['required']">Email is required</span>
            <span id="s1" *ngIf="email.errors['pattern']">Please enter a valid Email</span>
           </div> 
          <label for="password"> Password* </label>
          <input type="password" [(ngModel)]="admin.password" placeholder="Enter password" name="password" id="password" #password="ngModel" minlength="6"required/><br>
          <div *ngIf="password.invalid && (password.dirty||password.touched)" style="color: rgb(255, 255, 255);">
            <span id="s1" *ngIf="password.errors['required']">Password is required</span>
            <span id="s1" *ngIf="password.errors['minlength']">Password length should be atleast 6</span>
           </div> 
          <br>
          <button [disabled]="form.invalid" type="submit">Login</button><br>
    </form>
  </div>


