<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Serial No</th>
        <th scope="col">Instructions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Make sure you have good internet connection.</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Shut down all Instant Messaging tools and Email programs as they can distract you while giving exam.</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Maximize your browsing window before you start the test.</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Click the 'Submit' button to submit the exam. Do not press 'Enter' on the keyboard to submit the exam.</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>The test will be auto submitted when the timer reaches to 00:00.</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Contact technical team if you face any issues while giving the test.</td>
      </tr>
    </tbody>
  </table>
  <img src="assets/images/Best Of All.jpg" alt="All the Best" width="400" height="180" class="center"><br>
  <div >
        <button type="submit" routerLink='/test-categories' class="btn btn-danger">Go Back</button>
        <button type="submit" routerLink='/exam-ui' class="btn btn-success">Start the test</button>
    </div>
