#exam-box{
    border:3px solid black;
    border-radius: 5px;
    width:15cm;
    margin-inline-start: 28%;
  
}

#reports-box{
    border:3px solid black;
    border-radius: 5px;
    width:15cm;
    margin-inline-start: 28%;
}

h3{
    font-size: 20px;
    margin-inline-start: 20%;
}

button{
    padding:7px;
    margin-bottom: 10px;
    margin-inline-start: 40%;
}

button:hover{
    background-color: rgb(97, 150, 170);
    color: white;
}

#text{
    font-size: 20px;
    margin-inline-start: 30%;
}
p{
    font-weight: bold;
    margin-inline-start: 40%;
    font-size: 20px;
}

#t1{
    font-weight: bold;
    margin-inline-start: 38%;
    font-size: 20px;
}